*{
    margin: 0;
    list-style: none;

}
.liste-iatem{
    display: block;
}
.ul{
    display: flex;
    justify-content: space-around;
}
.liste-iatem{
    display: flex;
    justify-content: space-around;
}